html, body {
    background-color: #282C34;
    height: 100%;
}

.social-image {
    margin: 3px;
}

.container-fluid {
    min-height: 100%;
    height: 100%;
}

.row {
    min-height: 100%;
    height: 100%;
}

.img {
    width: 200px;
    height: 200px;
}



.main-container {
    float: left;
    height: 100%;
}


.text-container {
    display:inline;
}

.image-container {
    margin: 15px;
    float: left;
}

.social-container {
    height: 60px;
}

.social-icons {
    float: right; 
    flex-direction: row;
}

.form-container {
    margin: auto;
    width: 80%;
    height: 30%;
}


.container-img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.container-jumbo {
    margin: auto;

}


@media screen and (max-width: 1020px) {
    .image-container {
        width: 100%;
    }
  }

  @media screen and (max-width: 900px) {
    .form-container {
        width: 100%;
        height: initial;   
    }
    .container-img-text {
        height: initial;
    }
  }
  
  @media screen and (max-height: 700px) {
    .container-fluid {

        height: initial;
    }
    .form-container {
        width: 100%;
        height: initial;
    
    }

  }
  
